services:
  - type: web
    name: serena-file-bot
    env: python
    region: singapore  # Choose your preferred region
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: MONGO_URL
        sync: false
    ports:
      - port: 10000
        protocol: HTTP
    healthCheckPath: /
    autoDeploy: true
