services:
  - type: web
    name: serena-file-bot
    env: python
    region: singapore
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:10000 --workers 1 --threads 2 --timeout 120
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: MONGO_URL
        sync: false
      - key: DELAY_BETWEEN_MESSAGES
        value: "12"
    ports:
      - port: 10000
        protocol: HTTP
    healthCheckPath: /health
    autoDeploy: true
